* {
    box-sizing: border-box;
}

html body {
    padding: 0px;
    margin: 0px;
    width: 100%;
    background-color: teal
}

#maincontent {
    padding-bottom: 5px;
}

.text-warning {
    font-weight: bold
}

#question-timer {

}

div {
    /* border: 1px solid black; */
    margin: 10px;
}

.list-group {
    /* padding: 5px; */
}

#question-count {
    
}

#game-reset-screen {
    height: 197px;
}